<p>
  <strong>Name: </strong><%= @name %><br/><br/>
  <strong>Phone Number: </strong><%= @phone_num %><br/><br/>
  <strong>Product: </strong><%= @item %><br/><br/>
  <strong>Questions: </strong><%= @questions %><br/><br/>
  <strong>Contact by: </strong><%= @contact %><br/><br/>
  <strong>About: </strong><%= @gear %>, <%= @prices %>
</p>
